.form-group {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.footer{
height: 70px;

}

.header{
    height: 70px;
    background-color: rgba(117, 147, 187, 0.356) ;
    padding-left: 120px; 
    width: 100%;
    

}