<div class="container" style="width: 60%">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Member Registration</h1>
                   <hr />
               </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" #memberRegistrationForm="ngForm" (ngSubmit)="memberRegistration(memberRegistrationForm.valid)">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Domain Name <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="member.username" #username="ngModel" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && username.invalid }"  placeholder="Ex. sandip.garai"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && username.invalid"><label class="invalid-validation">Domain Name is Mandatory</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Full Name <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="member.name" #name="ngModel" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && name.invalid }"  placeholder="Ex. Sandip Garai"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && name.invalid"><label class="invalid-validation">Name is Mandatory</label></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="emailId" class="cols-sm-2 control-label">Official Email <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" id="emailId" name="emailId" [(ngModel)]="member.emailId" #emailId="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && emailId.invalid }"  placeholder="Ex. sandip.garai@mjunction.in"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && emailId.invalid"><label class="invalid-validation">Official Email is Mandatory</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="personalEmail" class="cols-sm-2 control-label">Personal Email: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <input type="email" class="form-control" id="personalEmail" name="personalEmail" [(ngModel)]="member.personalEmail" #personalEmail="ngModel" [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && username.invalid }"  placeholder="Ex. sandip.garai013@gmail.com"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobileNumber" class="cols-sm-2 control-label">Mobile Number: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="member.mobileNumber" #mobileNumber="ngModel" appOnlyNumber OnlyNumber="true" minlength="10" maxlength="10" autocomplete="off" [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && mobileNumber.dirty && mobileNumber.invalid }"  placeholder="Ex. 9876543210"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && mobileNumber.dirty && mobileNumber.invalid"><label class="invalid-validation">Mobile Number must be 10 digits.</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="deskPhoneNumber" class="cols-sm-2 control-label">Desk Extension Number: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="deskPhoneNumber" name="deskPhoneNumber" [(ngModel)]="member.deskPhoneNumber" #deskPhoneNumber="ngModel"  placeholder="Ex. 4432"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateOfBirth" class="cols-sm-2 control-label">DOB <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                                    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="member.dateOfBirth" #dateOfBirth="ngModel" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && dateOfBirth.invalid }"  placeholder="Enter your Name"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && dateOfBirth.invalid"><label class="invalid-validation">Date of Birth is mandatory</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="workStationId" class="cols-sm-2 control-label">Workstation ID <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="workStationId" name="workStationId" [(ngModel)]="member.workStationId" #workStationId="ngModel" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && workStationId.invalid }"  placeholder="Ex. WS-601"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && workStationId.invalid"><label class="invalid-validation">Workstation ID is mandatory.</label></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="member.password" #password="ngModel" required minlength="6" required [ngClass]="{ 'has-error-input': memberRegistrationForm.submitted && password.invalid }"  placeholder="Password"/>
                                </div>
                                <span *ngIf="memberRegistrationForm.submitted && password.invalid"><label class="invalid-validation">Password Must be atleast 6 digits long.</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Confirm Password <span class="mandatory">*</span>: </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="member.confirmPassword" #confirmPassword="ngModel" required [ngClass]="{ 'has-error-input': password.dirty && (password.value != confirmPassword.value) }"  placeholder="Confirm Password"/>
                                </div>
                                <span *ngIf="password.dirty && (password.value != confirmPassword.value)"><label class="invalid-validation">Password and Confirm Password Must be Same!</label></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
