<div class="container">

  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Domain Name</th>
          <th>Email ID</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>{{member.name}}</td>
          <td>{{member.domainName}}</td>
          <td>{{member.emailId}}</td>
          <td>{{member.mobileNumber}}</td>
        </tr>
        
      </tbody>
    </table>

</div>
