<div class="container">

    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Month</th>
            <th>Amount</th>
            <th>Purpose</th>
            <th>Short Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expanditur of listOfExpanditur"> 
            <td><select disabled="true"  class="form-control" *ngIf="masterdata" [(ngModel)]="expanditur.monthId ">
                <option *ngFor="let data of masterdata" [value]="data.monthId" >
                    {{data.month}}
                </option>
            </select></td> 
                      
                      <td>{{expanditur.amount}}</td>
                      <td>{{expanditur.purpose}}</td>
                      <td>{{expanditur.shortDesc}}</td>
                     
          </tr>
          
        </tbody>
      </table>
      </div>
